.heading {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 3px 2px;
  @apply font-extrabold;
}

.h1 {
  @apply text-4xl;
}

.h2 {
  @apply text-2xl;
}

.h3 {
  @apply text-xl;
}
