@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 213 13% 16%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 213 13% 6%;
    --card: 0 0% 98%;
    --card-foreground: 213 13% 11%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 213 13% 16%;
    --primary-foreground: 213 13% 76%;
    --secondary: 213 3% 75%;
    --secondary-foreground: 213 3% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 8 86% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 213 13% 16%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 23% 5%;
    --foreground: 210 25% 95%;
    --muted: 220 12% 15%;
    --muted-foreground: 220 12% 65%;
    --popover: 220 23% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 220 23% 3%;
    --card-foreground: 0 0% 100%;
    --border: 220 13% 10%;
    --input: 220 13% 13%;
    --primary: 210 25% 95%;
    --primary-foreground: 210 25% 35%;
    --secondary: 210 15% 25%;
    --secondary-foreground: 210 15% 85%;
    --accent: 220 23% 20%;
    --accent-foreground: 220 23% 80%;
    --destructive: 2 81% 55%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 25% 95%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig"1, "calt"1;
  }
}

h1 {
  @apply text-4xl;
}

.h1 {
  @apply text-4xl !important;
}

h2 {
  @apply text-3xl;
}

.h2 {
  @apply text-3xl !important;
}

h3 {
  @apply text-2xl;
}

.h3 {
  @apply text-2xl !important;
}

h4 {
  @apply text-2xl;
}

.h4 {
  @apply text-2xl !important;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 900px) {
  .container, .container-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

