.callout {
  display: flex;
  width: 100%;
  border-radius: 3px;
  padding: 16px 16px 16px 12px;
}

.icon {
  user-select: none;
  transition: background 20ms ease-in 0s;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 0.25em;
  font-size: 21.6px;
}

.text {
  display: flex;
  flex-direction: column;
  min-width: 0px;
  margin-left: 8px;
  width: 100%;
}

.green_background {
  background: rgb(237, 243, 236);
}
