.qualification {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #FFFFFF;

    margin-bottom: 4px;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
    color: rgba(255, 255, 255, 0.6);
}