.header {
  position: sticky;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 2;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
