.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 26px;
    grid-template-areas: 
    "first first first second second second"
    "first first first second second second"
    "first first first third third third"
    "first first first third third third"
    "first first first third third third"
    "fourth fourth fifth fifth sixth sixth"
    "fourth fourth fifth fifth sixth sixth"
    "fourth fourth fifth fifth sixth sixth";
}

/* Mobile */
@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        grid-template-areas: unset;
    } 
}

.grid > *:nth-child(1) {
    grid-area: first;
}
.grid > *:nth-child(2) {
    grid-area: second;
}
.grid > *:nth-child(3) {
    grid-area: third;
}
.grid > *:nth-child(4) {
    grid-area: fourth;
}
.grid > *:nth-child(5) {
    grid-area: fifth;
}
.grid > *:nth-child(6) {
    grid-area: sixth;
}

/* Mobile */
@media (max-width: 700px) {
    .grid > * {
        grid-area: unset !important;
    } 
}